<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

</head>
<body>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-title text-center">
                        <h1 class="page-header">
                            Deuzon HQ
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h2>Product List</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Author</th>
                                <th>Category</th>
                                <th>Date</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Sold Count</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tbody>
                            {% for product in products %}
                                <tr class="success">
                                    <td>{{ product.id }}</td>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.author }}</td>
                                    <td>{{ product.category }}</td>
                                    <td>{{ product.date }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.soldcount }}</td>
                                    <td><a class="btn btn-primary" href="/home/product/{{ product.id }}">Edit</a></td>
                                    <td><a class="btn btn-danger" href="/product/del/{{ product.id }}">Delete</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr class="active">
                                <form action="/product/create/" method="post">
                                    {% csrf_token %}
                                    <td><input class="form-control" placeholder="ID" type="number" name="id" id="id"
                                               value="{% if selected %}{{ selected.id }}{% endif %}"/></td>
                                    <td><input class="form-control" placeholder="Name" type="text" name="name" id="name"
                                               value="{% if selected %}{{ selected.name }}{% endif %}"/></td>
                                    <td><input class="form-control" placeholder="Author" type="text" name="author"
                                               value="{% if selected %}{{ selected.author }}{% endif %}"/></td>
                                    <td><input class="form-control" placeholder="Category" type="text" name="category"
                                               value="{% if selected %}{{ selected.category }}{% endif %}"/></td>
                                    <td><input class="form-control" placeholder="2017-05-06" type="text" name="date"
                                               value="{% if selected %}{{ selected.date }}{% endif %}"/></td>
                                    <td><input class="form-control" placeholder="Quantity" type="number" name="quantity"
                                               value="{% if selected %}{{ selected.quantity }}{% endif %}"/></td>
                                    <td><input class="form-control" placeholder="Price" type="number" name="price"
                                               value="{% if selected %}{{ selected.price }}{% endif %}"/></td>
                                    <td><input class="form-control" placeholder="Sold Count" type="number"
                                               name="soldcount"
                                               value="{% if selected %}{{ selected.soldcount }}{% endif %}"/></td>
                                    <td></td>
                                    <td>
                                        <button type="submit" name="button" class="btn btn-success">Create</button>
                                    </td>
                                </form>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h2>User List</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Password</th>
                                    <th>Admin</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tbody>
                                {% for user in users %}
                                    <tr class="danger">
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.password }}</td>
                                        <td>{{ user.isAdmin }}</td>
                                        <td><a class="btn btn-primary" href="/home/user/{{ user.id }}">Edit</a></td>
                                        <td><a class="btn btn-danger" href="/user/del/{{ user.id }}">Delete</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr class="active">
                                    <form action="/user/create/" method="post">
                                        {% csrf_token %}
                                        <td><input class="form-control" placeholder="ID" type="number" name="id" id="id"
                                                   value="{% if selectedUser %}{{ selectedUser.id }}{% endif %}"/></td>
                                        <td><input class="form-control" placeholder="Email" type="text" name="email"
                                                   value="{% if selectedUser %}{{ selectedUser.email }}{% endif %}"/>
                                        </td>
                                        <td><input class="form-control" placeholder="Username" type="text"
                                                   name="username"
                                                   value="{% if selectedUser %}{{ selectedUser.username }}{% endif %}"/>
                                        </td>
                                        <td><input class="form-control" placeholder="Password" type="text"
                                                   name="password"
                                                   value="{% if selectedUser %}{{ selectedUser.password }}{% endif %}"/>
                                        </td>
                                        <td><input type="hidden" name="isAdmin" value="0"><input class="form-control"
                                                                                                 type="checkbox"
                                                                                                 onclick="this.previousSibling.value=1-this.previousSibling.value">
                                        </td>
                                        <input type="hidden" name="homepage" value="1">
                                        <td>
                                            <button type="submit" name="button" class="btn btn-success">Create</button>
                                        </td>

                                    </form>
                                </tr>

                                </tfoot>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
</body>

</html>