<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Products Table</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Category</th>
        <th>Date</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Sold Count</th>
      </tr>
    </thead>
    <tbody>
        {% for product in products %}
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.author }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.date }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.soldcount }}</td>
        <td><a class="btn btn-primary" href="/home/product/{{ product.id }}">Edit</a>
        <a class="btn btn-danger" href = "/product/del/{{ product.id }}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <form action="/product/create/" method="post" style="display:inline-block">
            {% csrf_token %}
            <td><input class="form-control" placeholder="ID" type="number" name="id" id="id" value="{% if selected%}{{selected.id}}{% endif%}"/></td>
            <td><input class="form-control" placeholder="Name" type="text" name="name" id="name" value="{% if selected%}{{selected.name}}{% endif%}"/></td>
            <td><input class="form-control" placeholder="Author" type="text" name="author" value="{% if selected%}{{selected.author}}{% endif%}"/></td>
            <td><input class="form-control" placeholder="Category" type="text" name="category" value="{% if selected%}{{selected.category}}{% endif%}"/></td>
            <td><input class="form-control" placeholder="2017-05-06" type="text" name="date" value="{% if selected%}{{selected.date}}{% endif%}"/></td>
            <td><input class="form-control" placeholder="Quantity" type="number" name="quantity" value="{% if selected%}{{selected.quantity}}{% endif%}"/></td>
            <td><input class="form-control" placeholder="Price" type="number" name="price" value="{% if selected%}{{selected.price}}{% endif%}"/></td>
            <td><input class="form-control" placeholder="Sold Count" type="number" name="soldcount" value="{% if selected%}{{selected.soldcount}}{% endif%}"/></td>
            <td><button type="submit" name="button" class="btn btn-success">Create</button></td>
            </form>
        </tr>
        
    </tfoot>
  </table>
</div>
<div>
    <div id="" style="overflow-y: scroll; height:300px; width: 50%; display: inline-block ">

    {% for user in users %}
        <p>
            {{ user.email }}
            {{ user.username }}
            {{ user.password }}
            {{ user.isAdmin }}
        </p>
    {% endfor %}

    </div>
    <div style="display: inline-block">
        <form action="/user/handle_user/" method="post" style="display:inline-block">
            {% csrf_token %}
            <div><input placeholder="Email" type="text" name="email"/></div>
            <div><input placeholder="Username" type="text" name="username"/></div>
            <div><input placeholder="Password" type="text" name="password"/></div>
            <div><input placeholder="Password Again" type="password" name="passwordagain"/></div>
            <div><input type="hidden" name="homepage" value="1"></div>
            <div><input type="hidden" name="isadmin" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value"></div>
            <div>
                <button type="submit" name="button" value="create">Create</button>
                <button type="submit" name="button" value="delete">Delete</button>
            </div>
        </form>
    </div>
</div>

<script>
    function edit(a) {
        var a = 0
        console.log('{{products.a}}')
        document.getElementById("name").value = a.name;
    }

</script>
</body>

</html>